In [1]:
pip install pyarrow

Requirement already satisfied: pyarrow in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (15.0.1)
Requirement already satisfied: numpy<2,>=1.16.6 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pyarrow) (1.26.3)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib widget

In [52]:
file_to_load = "datasets/Motor_Vehicle_Registrations_Dashboard_data.csv"

vehicle_data = pd.read_csv(file_to_load)
vehicle_data.head()

   year       state   Auto  Bus  Truck  Motorcycle
0  1900     Alabama   40.0  0.0    0.0         0.0
1  1900      Alaska    0.0  0.0    0.0         0.0
2  1900     Arizona   20.0  0.0    0.0         0.0
3  1900    Arkansas   20.0  0.0    0.0         0.0
4  1900  California  780.0  0.0    0.0         0.0